.skeleton {
  height: calc(65vh - 96px);
  border-radius: 12px;
}

.progress-bar {
  --fill-color: var(--gradient-two);
}

.progress {
  height: 6px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  background-color: #f1f1f1;
  margin: 10px 0;
}

.progress-item {
  height: inherit;
  background: var(--gradient-two);
}

.thumbnail {
  object-fit: contain;
  min-height: 100%;
}

.sign-out-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}